<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <!-- The resource is the acl name -->
        <add id="Ankur_SimpleNews::main_menu" 
            title="Simple News" 
            module="Ankur_SimpleNews" 
            sortOrder="20" 
            resource="Ankur_SimpleNews::simplenews" />

        <add id="Ankur_SimpleNews::add_news" 
            title="Add News" 
            module="Ankur_SimpleNews" 
            sortOrder="1" 
            parent="Ankur_SimpleNews::main_menu" 
            action="simplenews/news/new" 
            resource="Ankur_SimpleNews::manage_news" />

        <add id="Ankur_SimpleNews::manage_news" 
            title="Manage News" 
            module="Ankur_SimpleNews" 
            sortOrder="2" 
            parent="Ankur_SimpleNews::main_menu" 
            action="simplenews/news/index" 
            resource="Ankur_SimpleNews::manage_news" />

        <add id="Ankur_SimpleNews::configuration" 
            title="Configuration" 
            module="Ankur_SimpleNews" 
            sortOrder="3" 
            parent="Ankur_SimpleNews::main_menu" 
            action="adminhtml/system_config/edit/section/simplenews" 
            resource="Ankur_SimpleNews::configuration" />
    </menu>
</config>